.m-nav-item{margin: 0 5px;cursor: pointer;}
.m-nav-item.active{color: red;}
.m-nav-item.router-link-active{color: red;}
.m-list-item{display: flex;margin: 5px;}
.m-list-item-img-wrap{display: flex; width: 112px;height: 150px;background: #dddddd;}
.m-list-item-img{width: 100%;}
.m-list-item-img[lazy=loading]{margin: auto; width: 40px;height: 40px;}
.m-list-item-info{flex:1}



