.m-warp{display: flex;flex-direction: column; position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-header{height: 50px;background: red;}
.m-main{flex:1;}
.m-footer{display: flex; height: 50px;border-top: 1px solid #dddddd;}
.m-nav-item{flex:1;text-align: center;line-height: 50px;text-decoration: none;}
.m-nav-item.router-link-active{color: red;}
.m-index{display: flex;height: 100%;}
.m-index-sidebar{width: 150px;border-right: 1px solid #dddddd;}
.m-index-content{flex:1;}
.m-sidebar-item{text-align: center;cursor: pointer;color: #333333;}
.m-sidebar-item.active{color: red;}




